<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add link</title>
    
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
    <h3>Add Link</h3>
    
    <form name="form" action="/addLink" method="POST">
      <fieldset>
        <legend>Add link to daabase:</legend>
        Add Link: <input placeholder="http://example.com" type="link" name="link">
        <input type="submit" value="Save">
      </fieldset>
    </form>
    
    <hr>
    <table>
  <tr>
    <th>Code</th>
    <th>Link</th>
    <th>Short URL</th>
  </tr>
  

    {% for link in links %}
      <tr>
        <td>{{ link.code }}</td>
        <td>{{ link.link }}</td>
        <td><a  target="_blank" href="https://bitly-heriagape.c9users.io/{{ link.code }}">
          https://bitly-heriagape.c9users.io/{{ link.code }}
        </a></td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">No links have been found</td>
      </tr>
    {% endfor %}
  
</table>
    
</body>
</html>
