<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add link</title>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
    <h3>Add Link</h3>
    
    <form name="form" action="/add" method="POST">
      <fieldset>
        <legend>Add link to daabase:</legend>
        Add Link: <input placeholder="http://example.com" type="url" id="link" name="link">
        <input type="submit" value="Save">
      </fieldset>
    </form>
    
    <hr>
    <table>
  <tr>
    <th>Code</th>
    <th>Link</th>
    <th>Short URL</th>
  </tr>
  

    <% links.forEach(function(link) { %>
      <tr>
        <td><%- link.code -%></td>
        <td><%- link.link -%></td>
        <td><a  target="_blank" href="http://bit.ly/<%- link.code -%>">
          http://bit.ly/<%- link.code -%>
        </a></td>
      </tr>
    <% }); %>
  
</table>
    
</body>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
